*.class
*.swp
build
generatedtest
gradle
.gradle
/dist/*.*
.classpath
.project
.settings
/config/*.local
/config/database.properties
/docs/
/report/
/database/
/results/
/bin
!/src/deprecated/report/
SchemaAnalyst.iml
.DS_Store
/.idea/
/out/
